<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="assets/css/style2.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />

    <!-- FONT -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Raleway:wght@300;400;500&display=swap"
        rel="stylesheet" />

    <!-- BOOTSTRAP css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />

    <!-- JASNY -->
    <link href="https://www.jasny.net/bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" />

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="
        background: linear-gradient(
          to bottom,
          #2b7a78 0%,
          #3aafa9 100%
        ); /*background-color: #3aafa9;*/
        text-align: right;
      ">
        <div class="container-fluid">
            <img src="assets/images/cobeat logo with shadow.png" style="width: 199px; font-size: 23px" /><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1" style="text-align: right">
                <ul class="nav navbar-nav ml-auto" style="
              text-align: right;
              filter: saturate(104%);
              border-color: rgb(255, 255, 255);
              color: rgb(255, 255, 255);
              font-size: 23px;
            ">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#" style="color: rgba(255, 255, 255, 0.5); margin-top: 2px">Home</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="views/views/html-pages/loggedin-guestmap.html"
                            style="color: rgba(255, 255, 255, 0.5); margin-top: 2px">Map</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="views/views/html-pages/loggedin-faqs.html"
                            style="color: rgba(255, 255, 255, 0.5); margin-top: 2px">FAQS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/profile icon.png" alt="" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Update Health Status</a>

                            <a class="dropdown-item" href="#">Edit Account</a>
                            <a class="dropdown-item" href="/signout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Her section-->
    <part>
        <div id="carouselExampleControls" class="carousel slide zindex" data-ride="carousel">
            <div class="carousel-inner height">
                <div class="carousel-item active">
                    <img src="assets/images/front.jpg" class="d-block imageCar" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="assets/images/front2.jpg" class="d-block imageCar" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="assets/images/fron3.jpg" class="d-block imageCar" alt="..." />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- OUR SERVICES -->
        <section id="services">
            <div class="container-xl section-padding">
                <div class="row mb-5">
                    <div class="col">
                        <h2 style="text-align: center" class="">
                            Live COVID-19 Cases Tracker
                        </h2>
                        <h3 class="text-center mb-4">
                            Join us in stopping the spread of COVID-19 through this
                            community-driven contact tracing and health condition reporting
                            system.
                        </h3>
                        <h4 class="text-center">
                            The following are just a few of the core services we offer:
                        </h4>
                    </div>
                </div>
            </div>

            <!-- 1ST ROW -->
            <div class="container-custom justify-content-center align-self-center">
                <div class="row mb-5 mb-lg-0 greenBG">
                    <div class="col-md-6">
                        <img class="img-fluid" src="assets/images/create account.svg" alt="" style="
                  height: 420px;
                  margin-left: 250px;
                  margin-top: 40px;
                  margin-bottom: 40px;
                  width: 500px;
                " />
                    </div>
                    <div class="col-md-5 align-self-center text-center justify-content-center align-self-center text-md-left"
                        style="margin-left: 50px">
                        <h3 class="mb-3">Create an account</h3>
                        <p class="mb-3" style="margin-right: 50px">
                            Creating an account will enable you to fully utilize the
                            features of this application. Simply add the necessary
                            information to get started.
                        </p>
                    </div>
                </div>
                <!-- 2ND ROW -->
                <div class="row mb-5 mb-lg-0 darkBG">
                    <div class="col-md-6 order-switch">
                        <img class="img-fluid" src="assets/images/symptoms tracker.png" alt="" style="
                  height: 420px;
                  margin-top: 40px;
                  margin-bottom: 40px;
                  object-fit: cover;
                " />
                    </div>
                    <div class="col-md-5 align-self-center text-center justify-content-center align-self-center text-md-right"
                        style="margin-left: 50px">
                        <h3 class="mb-3">Answer the symptom checker</h3>
                        <p class="mb-3" style="margin-left: 120px">
                            This application also offers a symptom tracker, for you and us
                            to be able to monitor your current health status. Simply answer
                            the checker, and select all those apply to your current status.
                        </p>
                    </div>
                </div>

                <!-- 3rd ROW -->
                <div class="row mb-5 mb-lg-0 greenBG">
                    <div class="col-md-6">
                        <img class="img-fluid" src="assets/images/history.png" alt="" style="
                  height: 420px;
                  margin-left: 250px;
                  margin-top: 40px;
                  margin-bottom: 40px;
                " />
                    </div>
                    <div class="col-md-5 align-self-center text-center justify-content-center align-self-center text-md-left"
                        style="margin-left: 50px">
                        <h3 class="mb-3">Fill-up the travel and contact history form</h3>
                        <p class="mb-3" style="margin-right: 50px">
                            To help us monitor your health status, kindly provide the
                            necessary information regarding your travel and contact history.
                        </p>
                    </div>
                </div>

                <!-- 4TH ROW -->
                <div class="row mb-5 mb-lg-0 darkBG">
                    <div class="col-md-6 order-switch">
                        <img class="img-fluid" src="assets/images/gps.png" alt="" style="
                  margin-right: 150px;
                  height: 420px;
                  object-fit: cover;
                  margin-top: 40px;
                  margin-bottom: 40px;
                " />
                    </div>
                    <div class="col-md-5 align-self-center text-center justify-content-center align-self-center text-md-right"
                        style="margin-left: 50px">
                        <h3 class="mb-3">Turn on GPS</h3>
                        <p class="mb-3" style="margin-left: 150px">
                            In order to view the status of other users of the application
                            around your vicinity, kindly turn on your GPS.
                        </p>
                    </div>
                </div>

                <!-- 5TH ROW -->
                <div class="row mb-5 mb-lg-0 greenBG">
                    <div class="col-md-6">
                        <img class="img-fluid" src="../../../assets/images/navigate map.png" alt="" style="
                  height: 420px;
                  margin-left: 250px;
                  margin-top: 40px;
                  margin-bottom: 40px;
                " />
                    </div>
                    <div class="col-md-5 align-self-center text-center justify-content-center align-self-center text-md-left"
                        style="margin-left: 50px">
                        <h3 class="mb-3">Monitor your area</h3>
                        <p class="mb-3" style="margin-right: 70px">
                            Now that everything has been successfully setup, you can now
                            fully monitor your area with the use of the map feature of the
                            application. With this feature, you will be able to see the
                            status and location of other users near you.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div id="footer" class="d-flex jumbotron" style="background-color: #17252a; height: 145px">
            <div style="height: 50px; font-size: 12px">
                <img src="assets/images/cobeat logo white.png" style="width: 268px; height: 67px" />
            </div>
            <p id="footerParagraph" style="
            width: 392px;
            color: #ffffff;
            height: 72px;
            font-size: 21px;
            margin: 0px 0px 0px;
          ">
                <br />Copyright © 2020 All Rights Reserved <br /><br />
            </p>
        </div>
    </part>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>