<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../../assets/css/Symptoms.css" />

    <title>Hello, world!</title>
  </head>
  <body style="background-color: #def2f1">
    <nav
      class="navbar navbar-light navbar-expand-md"
      style="
        background: linear-gradient(
          to bottom,
          #2b7a78 0%,
          #3aafa9 100%
        ); /*background-color: #3aafa9;*/
        text-align: right;
      "
    >
      <div class="container-fluid">
        <img
          src="../../../assets/images/cobeat logo with shadow.png"
          style="width: 199px; font-size: 23px"
        /><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navcol-1"
          style="text-align: right"
        >
          <ul
            class="nav navbar-nav ml-auto"
            style="
              text-align: right;
              filter: saturate(104%);
              border-color: rgb(255, 255, 255);
              color: rgb(255, 255, 255);
              font-size: 23px;
            "
          >
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                href="/login"
                style="color: rgba(255, 255, 255, 0.5); margin-top: 2px"
                >Home</a
              >
            </li>

            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                href="views/views/html-pages/loggedin-guestmap.html"
                style="color: rgba(255, 255, 255, 0.5); margin-top: 2px"
                >Map</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                href="loggedin-faqs.html"
                style="color: rgba(255, 255, 255, 0.5); margin-top: 2px"
                >FAQS</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img src="../../../assets/images/profile icon.png" alt="" />
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdown"
              >
                <a class="dropdown-item" href="#">Update Health Status</a>

                <a class="dropdown-item" href="#">Edit Account</a>
                <a class="dropdown-item" href="/signout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div
            id="header_box"
            style="background-color: #d3ebea; height: 100px; width: 500px"
          >
            <p style="height: 50x; font-size: 28px">
              <strong>Check any that apply</strong>
            </p>
            <p style="font-size: 17px; margin-top: -15px">
              Do you experience any of the following?
            </p>
          </div>
          <div
            id="symptoms_box"
            style="
              background-color: #d3ebea;
              font-size: 16px;
              height: 500px;
              width: 500px;
              padding-top: 10px;
              padding-right: 10px;
              margin-top: 20px;
            "
          >
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="fever"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Fever.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Fever</b><br /><small> Lagnat</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="drycough"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/dry cough.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Dry Cough</b><br /><small> Tuyong Ubo</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="ache"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Aches and Pains.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Body Pain</b><br /><small> Pananakit ng Katawan</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="fatigye"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Fatigue.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Fatigue</b><br /><small> Pagkapagod</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="sorethroat"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Sore Throat.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Sorethroat</b><br /><small> Namamagang lalamunan</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="shortnessOfBreath"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Shortness of breath.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <bi> Breath Shortness</bi><br /><small> Hirap huminga</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="diarrhea"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Diarrhea.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Diarrhea</b><br /><small> Pagdudumi</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="headache"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Headache.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Headache</b><br /><small> Pananakit ng ulo</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="lostOfSmell"
              /><img
                style="margin-top: -30px"
                src="../../../assets/images/Lost of smell.png"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> Loss of smell</b><br /><small> Kawalan ng pang-amoy</small>
              </p>
            </div>
            <div class="left_symp" style="display: inline-block">
              <input
                type="checkbox"
                class="checkbox"
                style="height: 52px; display: inline-block"
                value="lostOfSmell"
              />
              <p style="display: inline-block; margin-top: -20px; color: white">
                <b> None of the above</b><br /><small> Wala sa mga itaas</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div
            id="history_box"
            class="d-flex container-fluid justify-content-center text-align-center"
            style="
              background-color: #d3ebea;
              height: 50px;
              width: 400px;
              text-align: center;
              margin-bottom: 50px;
              margin-top: 100px;
            "
          >
            <div id="checkboxes" style="height: 60px; width: 350px">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="formCheck-1"
                  value="positive"
                /><label
                  class="form-check-label"
                  for="formCheck-1"
                  style="font-size: 20px"
                  ><b>I am COVID-19 Positive</b></label
                >
              </div>
            </div>
          </div>
          <div
            id="history_box"
            class="d-flex container-fluid"
            style="
              background-color: #d3ebea;
              height: 130px;
              width: 400px;
              text-align: left;
              margin-bottom: 50px;
            "
          >
            <div id="history_text" style="height: 40px; width: 200px">
              <p style="height: 40px; font-size: 27px; text-align: center">
                <strong>History</strong>
              </p>
            </div>
            <div id="checkboxes" style="height: 60px; width: 350px">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="formCheck-1"
                /><label
                  class="form-check-label"
                  for="formCheck-1"
                  style="font-size: 15px"
                  ><b>Traveled abroad in the past 14 days</b></label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="formCheck-2"
                /><label
                  class="form-check-label"
                  for="formCheck-2"
                  style="font-size: 15px"
                  ><b>Had close contact to a COVID - 19 Patient</b></label
                >
              </div>
            </div>
          </div>

          <div style="align-self: center; text-align: center; margin-top: 20px">
            <button
              onclick="location.href='final-map.html'"
              class="btn btn-primary"
              type="button"
              style="align-self: center; text-align: center"
            >
              SUBMIT
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../../../assets/js/symptoms.js"></script>
  </body>
</html>
