<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>APDEV MP (MyAcc)</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/assets/css/Faq-by-pomdre.css">
    <link rel="stylesheet" href="/assets/css/myAcc1.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="
        background: linear-gradient(
          to bottom,
          #2b7a78 0%,
          #3aafa9 100%
        ); /*background-color: #3aafa9;*/
        text-align: right;
      ">
        <div class="container-fluid">
            <img src="/assets/images/cobeat logo with shadow.png" style="width: 199px; font-size: 23px" /><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1" style="text-align: right">
                <ul class="nav navbar-nav ml-auto" style="
              text-align: right;
              filter: saturate(104%);
              border-color: rgb(255, 255, 255);
              color: rgb(255, 255, 255);
              font-size: 23px;
            ">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#" style="color: rgba(255, 255, 255, 0.5); margin-top: 2px">Home</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="../markers/usermap"
                            style="color: rgba(255, 255, 255, 0.5); margin-top: 2px">Map</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="../public/loggedin-faqs.html"
                            style="color: rgba(255, 255, 255, 0.5); margin-top: 2px">FAQS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/assets/images/profile icon.png" alt="" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Update Health Status</a>

                            <a class="dropdown-item" href="#">Edit Account</a>
                            <a class="dropdown-item" href="/signout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="Main" class="d-flex container" style="background-color: #DEF2F1;">
        <div id="header">
            <p id="profileHeader"><strong>My account</strong></p>
        </div>
        <div id="innerDiv" class="d-flex container">
            <div id="innerBox" class="d-flex container">
                <div class="d-flex statusDiv">
                    <div style="align-self:center;height:40px">
                        <p class="statusLabel"><strong>Status:</strong></p>
                    </div>
                    <div style="align-self:center;height:40px">
                        
                        <p class="statusTxt">{{status}}</p>
                    </div>
                </div>

                <form method="POST" action="../users/editUn">
                    <div class="d-flex statusDiv">
                        <div style="align-self:center;height:40px">
                            <p class="statusLabel"><strong>Username:</strong></p>
                        </div>
                        <div style="align-self:center;height:29px;padding-right:28px">
                            <input name="un" id="unTxt" type="text" style="border: none;font-size:22px" value="{{username}}">
                        </div>
                        <input class="btn btn-primary statusEditBtn" type="submit" value="Edit">
                    </div>
                </form>
                
                
                <form method="POST" action="../users/editPw">
                    <div class="d-flex statusDiv">
                        <div style="align-self:center;height:40px">
                            <p class="statusLabel"><strong>Password:</strong></p>
                        </div>
                        <div style="align-self:center;height:29px;padding-right:32px">
                            <input name="pw" id="unTxt" type="text" style="border: none;font-size:22px" value="{{password}}">
                        </div>
                        <input class="btn btn-primary statusEditBtn" type="submit" value="Edit">
                    </div>
                </form>
                
                <form method="POST" action="../users/editEm">
                    <div class="d-flex statusDiv">
                        <div style="align-self:center;height:40px">
                            <p class="statusLabel"><strong>Email:</strong></p>
                        </div>
                        <div style="align-self:center;height:29px">
                                <input name="em" id="unTxt2" type="text" style="border: none;font-size:22px" value="{{email}}">
                        </div>
                        <input class="btn btn-primary statusEditBtn" type="submit" value="Edit">
                    </div>
                </form>
                
            </div>
            <picture><img src="/assets/images/navigate%20map.png" style="height: 300px; width: 300px"></picture>
        </div>
    </div>
    <div id="footer" class="d-flex jumbotron" style="background-color: #17252a; height: 145px">
        <div style="height: 50px; font-size: 12px">
            <img src="/assets/images/cobeat logo white.png" style="width: 268px; height: 67px" />
        </div>
        <p id="footerParagraph" style="
        width: 392px;
        color: #ffffff;
        height: 72px;
        font-size: 21px;
        margin: 0px 0px 0px;
      ">
            <br />Copyright © 2020 All Rights Reserved <br /><br />
        </p>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Bold-BS4-Jumbotron-with-Particles-js.js"></script>
    <script src="/assets/js/Faq-by-pomdre.js"></script>
</body>

</html>